@model List<Assignment1CarlosAlves.Models.Customer>
@{
    ViewBag.Title = "Home Page";
}


<div class="p-5 my-5 bg-light rounded-3  " >
    <h1 >Tech Support Project - Assignment 1 </h1>
    
</div>
<div class="row">

</div>