@model List<Assignment1CarlosAlves.Models.Customer>
@{
    ViewBag.Title = "Index";
}



<h2>All Customers Page</h2>

<button class="btn btn-primary"><a class="text-decoration-none link-light" href="/Customers/AddCustomers">Add new customer</a></button>

<div class="row m-2">
    <div class="col-4">
        <input class ="form-control"id ="txtSearch" type="text" name="textSearch"  placeholder="Search..." />
    </div>
    <div class="col-3">
        <input type="button" class="btn btn-primary btn-md" name="searchButton" value="Search" onclick="Sortable.Search();" />
    </div>
</div>


<table class="sortable table table-striped table-hover table-dark table-bordered">
    <thead class="table-light">
        <tr>
            <th onclick="Sortable.Sort(0);">Customer ID</th>
            <th onclick="Sortable.Sort(1);">Customer Name</th>
            <th onclick="Sortable.Sort(2);">Customer Email</th>
            <th onclick="Sortable.Sort(3);">Customer State</th>
        </tr>
    </thead>
    <tbody>
        @* Lopp throuh the "allcustomers" list to display CustomerID and Customer Name *@
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerID</td>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
                <td>@customer.State1.StateName</td>
            </tr>
        }
    </tbody>
</table>

<script>
    //function sort(sortBy) {
    //    let isDesc = false;

    //    var url_string = window.location.href;
    //    var url = new URL(url_string);
    //    var isDescUrlParam = url.searchParams.get("isDesc");
    //    if (isDescUrlParam == "false") {
    //        isDesc = true;
    //    }

    //    window.location.href = "/Customers/AllCustomers/?sortBy=" + sortBy + "&isDesc=" + isDesc;

    //}

    //function search() {
    //    // URL mapping
    //    // url mappin rerountes the parameters and makes them look like a part of the url
    //    var searchKey = $('#textSearch').val();
    //    window.location.href = "/Customers/AllCustomers/" + searchKey;
    //}

    Sortable.baseUrl = '/Customers/AllCustomers/';
</script>