@model List<Assignment1CarlosAlves.Models.State>
@{
    ViewBag.Title = "AllStates";
}

<h2>All States Page </h2>
<button class="btn btn-primary"><a class="text-decoration-none link-light" href="/States/AddStates">Add new State</a></button>


<div class="row m-2">
    <div class="col-4">
        <input id="txtSearch" type="text" name="textSearch" class="form-control" placeholder="Search..." />

    </div>
    <div class="col-3">
        <input type="button" class="btn btn-primary btn-md" name="searchButton" value="Search" onclick="Sortable.Search();" />
    </div>
</div>


<table class="sortable table table-striped table-hover table-dark table-bordered">
    <thead class="table-light">
        <tr>
            <th onclick="Sortable.Sort(0)">State Code</th>
            <th onclick="Sortable.Sort(1)">State Name</th>
            <th onclick="Sortable.Sort(2)">First Zip Code </th>
            <th onclick="Sortable.Sort(3)">Last Zip Code</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var state in Model)
        {
            <tr>
                <td>@state.StateCode</td>
                <td>@state.StateName</td>
                <td>@state.FirstZipCode</td>
                <td>@state.LastZipCode</td>
            </tr>
        }
    </tbody>
</table>

<script>
    

    Sortable.baseUrl = '/States/AllStates/';
</script>







@*<script>
    function sort(sortBy) {
        let isDesc = false;

        var url_string = window.location.href;
        var url = new URL(url_string);
        var isDescUrlParam = url.searchParams.get("isDesc");
        if (isDescUrlParam == "false") {
            isDesc = true;
        }

        window.location.href = "/States/AllStates/?sortBy=" + sortBy + "&isDesc=" + isDesc;
    }

</script>*@