@model List<Assignment1CarlosAlves.Models.State>
@{
    ViewBag.Title = "AllStates";
}

<h2>All States</h2>

<table class="table table-striped table-hover table-dark table-bordered">
    <thead class="table-light">
        <tr>
            <th onclick="sort(0)">State Code</th>
            <th onclick="sort(1)">State Name</th>
            <th onclick="sort(2)">First Zip Code </th>
            <th onclick="sort(3)">Last Zip Code</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var state in Model)
        {
            <tr>
                <td>@state.StateCode</td>
                <td>@state.StateName</td>
                <td>@state.FirstZipCode</td>
                <td>@state.LastZipCode</td>
            </tr>
        }
    </tbody>
</table>

<script>
    function sort(sortBy) {
        let isDesc = false;

        var url_string = window.location.href;
        var url = new URL(url_string);
        var isDescUrlParam = url.searchParams.get("isDesc");
        if (isDescUrlParam == "false") {
            isDesc = true;
        }

        window.location.href = "/States/AllStates/?sortBy=" + sortBy + "&isDesc=" + isDesc;
    }

</script>