@model  Assignment1CarlosAlves.Models.State
@{
    ViewBag.Title = "Upsert a State";
}

<h2>Add States</h2>

@*<form action="/States/AddStates" method="post">
    <input type="text" name="StateCode" />
    <input type="text" name="StateName" />
    <input type="text" name="FirstZipCode" />
    <input type="text" name="LastZipCode" />
    <input type="submit" value="submit" />
</form>*@

@using (Html.BeginForm("UpsertStates", "States", FormMethod.Post))
{
    @Html.TextBoxFor(s => s.StateCode, new { @class = "form-control" } )
    @Html.TextBoxFor(s => s.StateName, new { @class = "form-control" })
    @Html.TextBoxFor(s => s.FirstZipCode, new { @class = "form-control" })
    @Html.TextBoxFor(s => s.LastZipCode, new { @class = "form-control" })

    <input type="submit" value="submit" class="btn btn-info"/>
}