@model List<Assignment1CarlosAlves.Models.Technician>
@{
    ViewBag.Title = "AllTechnicians";
}

<h2>All Technicians</h2>

<table class="table table-striped table-hover table-dark table-bordered">
    <thead class="table-light">
        <tr>
            <th onclick="sort(0);">Technician ID</th>
            <th onclick="sort(1);">Name</th>
            <th onclick="sort(2);">Email</th>
            <th onclick="sort(3);">Phone</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var technician in Model)
        {
            <tr>
                <td>@technician.TechID</td>
                <td>@technician.Name</td>
                <td>@technician.Email</td>
                <td>@technician.Phone</td>
            </tr>
        }
    </tbody>
    
</table>

<script>
    function sort(sortBy) {
        let isDesc = false;

        var url_string = window.location.href;
        var url = new URL(url_string);
        var isDescUrlParam = url.searchParams.get("isDesc");
        if (isDescUrlParam == "false") {
            isDesc = true;
        }

        window.location.href = "/Technicians/AllTechnicians/?sortBy=" + sortBy + "&isDesc=" + isDesc;
    }

</script>