@model List<Assignment1CarlosAlves.Models.Product>
@{
    ViewBag.Title = "AllProducts";
}

<h2>All Products</h2>

<table class=" sortable table table-striped table-hover table-dark table-bordered">
    <thead class="table-light">
        <tr>
            <th onclick="sort(0)">Product Code</th>
            <th onclick="sort(1)">Name</th>
            <th onclick="sort(2)">Version</th>
            <th onclick="sort(3)">Release Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductCode</td>
                    <td>@product.Name</td>
                    <td>@product.Version</td>
                    <td>@product.ReleaseDate</td>
                </tr>
            }
    </tbody>
</table>
<script>
    function sort(sortBy) {
        let isDesc = false;

        var url_string = window.location.href;
        var url = new URL(url_string);
        var isDescUrlParam = url.searchParams.get("isDesc");
        if (isDescUrlParam == "false") {
            isDesc = true;
        }

        window.location.href = "/Products/AllProducts/?sortBy=" + sortBy + "&isDesc=" + isDesc;
    }

</script>